{% extends "seed/base_generic.html" %}
{% block content %}
    {% if familyspecification %}
        <br>
        <h1>Family Name : {{ familyspecification.family.name }}</h1>
        <p><strong>Belongs to: <a
                href="{{ familyspecification.family.species.get_absolute_url }}">{{ familyspecification.family.species }}</a></strong>
        </p>

        <br>
        <strong>Seed Count </strong><em>per gramme</em><strong> : </strong>
        {% if familyspecification.seed_count_per_gramme_min_interval == familyspecification.seed_count_per_gramme_max_interval %}
            {{ familyspecification.seed_count_per_gramme_min_interval }}
        {% else %} {{ familyspecification.seed_count_per_gramme_min_interval }} -
            {{ familyspecification.seed_count_per_gramme_max_interval }}
        {% endif %}

        <br>
        <strong>Germ </strong><em>lasts years</em><strong> : </strong>
        {% if familyspecification.germ_lasts_year_min_interval == familyspecification.germ_lasts_year_max_interval %}
            {{ familyspecification.germ_lasts_year_min_interval }}
        {% else %} {{ familyspecification.germ_lasts_year_min_interval }} -
            {{ familyspecification.germ_lasts_year_max_interval }}
        {% endif %}

        <br>
        <strong>Sow (KG/HA) </strong><em>{{ familyspecification.get_sow_type1_display }}</em><strong> : </strong>
        {% if familyspecification.sow_KG_HA_min_interval1 == familyspecification.sow_KG_HA_max_interval1 %}
            {{ familyspecification.sow_KG_HA_min_interval1 }}
        {% else %} {{ familyspecification.sow_KG_HA_min_interval1 }} -
            {{ familyspecification.sow_KG_HA_max_interval1 }}
        {% endif %}

        <br>
        <strong>Sow (KG/HA) </strong><em>{{ familyspecification.get_sow_type2_display }}</em><strong> : </strong>
        {% if familyspecification.sow_KG_HA_min_interval2 == familyspecification.sow_KG_HA_max_interval2 %}
            {{ familyspecification.sow_KG_HA_min_interval2 }}
        {% else %} {{ familyspecification.sow_KG_HA_min_interval2 }} -
            {{ familyspecification.sow_KG_HA_max_interval2 }}
        {% endif %}

        <br>
        <strong>Depth of </strong><em>{{ familyspecification.get_depth_type_display }}</em><strong> : </strong>
        {% if familyspecification.depth_min_interval == familyspecification.depth_max_interval %}
            {{ familyspecification.depth_min_interval }}
        {% else %} {{ familyspecification.depth_min_interval }} -
            {{ familyspecification.depth_max_interval }}
        {% endif %}

        <br>
        <strong>Distance (CM)</strong><em> Row-to-Row</em><strong> : </strong>
        {% if familyspecification.distance_CM_row_to_row_min_interval == familyspecification.distance_CM_row_to_row_max_interval %}
            {{ familyspecification.distance_CM_row_to_row_min_interval }}
        {% else %} {{ familyspecification.distance_CM_row_to_row_min_interval }} -
            {{ familyspecification.distance_CM_row_to_row_max_interval }}
        {% endif %}

        <br>
        <strong>Distance (CM)</strong><em> Plant-to-Plant</em><strong> : </strong>
        {% if familyspecification.distance_CM_plant_to_plant_min_interval == familyspecification.distance_CM_plant_to_plant_max_interval %}
            {{ familyspecification.distance_CM_plant_to_plant_min_interval }}
        {% else %} {{ familyspecification.distance_CM_plant_to_plant_min_interval }} -
            {{ familyspecification.distance_CM_plant_to_plant_max_interval }}
        {% endif %}

        <br>
        <strong>Sprouting Time </strong><em>(DAYS)</em><strong> : </strong>
        {% if familyspecification.sprouting_time_days_min_interval == familyspecification.sprouting_time_days_max_interval %}
            {{ familyspecification.sprouting_time_days_min_interval }}
        {% else %} {{ familyspecification.sprouting_time_days_min_interval }} -
            {{ familyspecification.sprouting_time_days_max_interval }}
        {% endif %}

    {% else %}
        <p>There is no info.</p>
    {% endif %}
{% endblock %}