{% extends "seed/base_generic.html" %}
{% block content %}
    <br><h1>All Images</h1><br>
    {% if image_list %}
        <div class="row">
            {% for image in image_list %}
                <div class="col s12 m7 l4">
                    <div class="card small">
                        <div class="card-image">
                            <img src="{{ image.photo.url }}">
                            <span class="card-title">{{ image.title }}</span>
                        </div>
                        <div class="card-content">
                            <p>{{ image.legend }}</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {#    {% if image_list %}#}
    {#        <ul>#}
    {#            {% for image in image_list %}#}
    {#                <li>#}
    {#                    <p><img src="{{ image.photo.url }}"> {{ image.legend }}</p>#}
    {#                </li>#}
    {#            {% endfor %}#}
    {#        </ul>#}
    {#    {% else %}#}
    {#        <p>There is no Info</p>#}
    {#    {% endif %}#}
{% endblock %}
