{% extends 'seed/base_widget.html' %}
{% block javascript %}
    <script>
        function showEditPopup(url) {
            console.log("from edit");
            var win = window.open(url, "Edit",
                'height=500,width=800,resizable=yes,scrollbars=yes');
            return false;
        };

        function showAddPopup(triggeringLink) {
            var name = triggeringLink.id.replace(/^instance_/, '');
            console.log(name);
            {
                // var
                n2 = triggeringLink.id.replace(/^type/, 'create');
                //
            }
            href = triggeringLink.href;
            var win = window.open(href, name, 'height=500,width=500,resizable=yes,scrollbars=yes');

            win.focus();
            return false;
        };

        function closePopup(win, newID, newRepr, id) {
            alert("form close");
            console.log(id);
            console.log(win);
            console.log(newID);
            console.log(newRepr);
            $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>');

            win.close();
        };
    </script>
{% endblock %}
{#{% load staticfiles %}#}
{% block content %}
    <a href="{% url 'product-type_create' %}" id="instance_create" onclick="return showAddPopup(this);"><i
            class="material-icons">add</i></a>
    {% include "django/forms/widgets/select.html" %}
    {#    {% if widget.is_initial %}#}
    {#        <div class="section">#}
    {#            {{ widget.initial_text }}:<a href="{{ widget.value.url }}">{{ widget.value }}</a>#}
    {#            {% if not widget.required %}#}
    {#                <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">#}
    {#                <label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>#}
    {#                <br>{{ widget.input_text }}:#}
    {#                <input type="{{ widget.type }}" name="{{ widget.name }}">#}
    {#            {% endif %}#}
    {#        </div>#}
    {#    {% else %}#}
    {#        {% include "django/forms/widgets/select.html" %}#}
    {#    {% endif %}#}
{% endblock %}