{% extends "seed/base_generic.html" %}
{% block content %}
    <br><h1>Species name: {{ species.name }}</h1>
    <p><strong>Description: {{ species.description }}</strong></p>
    {% if species.photo %}
        <p><img src="{{ species.photo.url }}"></p>
    {% endif %}
    <br>
    {% for family in species.family_set.all %}
        <p>Related Family: <a href="{% url 'familyspecification-detail' family.id %}">{{ family }}</a></p>
    {% endfor %}
    <p>Related Varieties:
        {% for variety in species.variety_set.all %}
            <li><a href="{% url 'variety-detail' variety.id %}">{{ variety.name }}</a></li>
        {% endfor %}
    </p>
{% endblock %}