{% extends "seed/base_generic.html" %}
{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/initialization.js"></script>
{% endblock %}
{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        <br>
        <a href="{% url 'variety-supplier_update' varietysupplier.id %}">Update</a>
        {#        <a href="{% url '' variety.serial_no %}"> - Delete</a>#}
        <br>
        <br>{{ varietysupplier.id }}
        <br>{{ varietysupplier.name }}
        <br>{{ varietysupplier.description }}
        <br>{{ varietysupplier.photo }}
        <br>{{ varietysupplier.document }}
        <br>{{ varietysupplier.remark }}
        <br>{{ varietysupplier.contact }}
        <br>{{ varietysupplier.contact_person }}
        <br>{{ varietysupplier.entity }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}