{% extends "seed/base_generic.html" %}
{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/initialization.js"></script>
{% endblock %}
{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        <br>
        <a href="{% url 'variety-supplier_update' varietysupplier.id %}">Update</a>
        {#        <a href="{% url '' variety.serial_no %}"> - Delete</a>#}
        <br>
        <br>Supplier No. {{ varietysupplier.id }}
        <br>Variety: <a href="{{ varietysupplier.variety.get_absolute_url }}">{{ varietysupplier.variety }}</a>
        <br>Description: {{ varietysupplier.description }}
        <br>{{ varietysupplier.photo }}
        <br>{{ varietysupplier.document }}
        <br>Remark: {{ varietysupplier.remark }}
        <br>Contact: <a href="{% url 'contact-detail' varietysupplier.variety.supplier_contact.id %}">{{ varietysupplier.variety.supplier_contact }}</a>

    </form>
{% endblock %}